@{
    ViewData["Title"] = "Не хватает прав для доступа";
}
@model string

<div class="page-content-center page-content-display">
    <h3>Не хватает прав для доступа@(string.IsNullOrEmpty(Model) ? "" : $" к \"{Model}\"").</h3>
    <input type="button" value="Назад" onclick="history.back()" />
</div>