@{
    ViewData["Title"] = "Войти";
}
@model User

<div class="page-content-center page-content-auth">
    <h2>Введите данные для входа</h2>
    <form asp-action="login" asp-controller="authorization">
        <div>
            <label asp-for="Login">Логин</label>
            <input id="Login" type="text" asp-for="Login" required value="@Model?.Login" onblur="trimLogin()"/>
            <div class="warning" hidden="@(!(Model != null && Model.Login == null))">Пользователь не найден.</div>
            <label asp-for="Password">Пароль</label>
            <input type="password" asp-for="Password" required value="@Model?.Password" />
            <div class="warning" hidden="@(!(Model != null &&  Model.Login != null && Model.Password == null))">Неверный пароль.</div>
            <div class="checkbox-div">
                <input type="checkbox" asp-for="IsAdmin" value="true" />
                <label asp-for="IsAdmin">Запомнить меня</label>
            </div>
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
    </form>
    <a asp-controller="Authorization" asp-action="Register">Регистрация</a>
</div>
<script>
    function trimLogin() 
    {
        var login = document.getElementById("Login");
        login.value = login.value?.trim();
    }
</script>