@{

    ViewData["Title"] = "Главная страница";
}
<div class="page-content-center page-content-display">
    <h1>@ViewData["Title"]</h1>
    <div class="subject-items">
        <a asp-action="Subjects">Список предметов</a>
        <a asp-action="Teachers">Преподаватели</a>
        <a hidden="@(Context.User.FindFirstValue(ClaimTypes.Role) != "Admin")" asp-action="Users">Список пользователей</a>
        <a asp-action="EditUser">Настройки пользователя.</a>
    </div>
</div>